DATABASE_URL="Postgress Database URL"

# JWT Secrets
JWT_ACCESS_SECRET="your-super-secret-access-key-change-this"
JWT_REFRESH_SECRET="your-super-secret-refresh-key-change-this"

# Token Expiry
ACCESS_TOKEN_EXPIRY="15m"
REFRESH_TOKEN_EXPIRY="7d"

# Salt Rounds for bcrypt
BCRYPT_SALT_ROUNDS=10

# App Config
PORT=3000
NODE_ENV=development

# Email Config
EMAIL_SERVICE=gmail
EMAIL_USER=your_verified_email
EMAIL_PASSWORD=verified_email_password

# Cors Origins
CORS_ORIGINS=http://localhost:8000,http://localhost:5173,https://yourdomain.com